---
layout: page
hero_path: "/assets/images/banner.png"
logo_path: "/assets/images/boty.png"
---
<section class="lead-panel" id="lead" style="background-image: url('{{ page.hero_path }}');">
    <div class="inner">
        <div class="row">
            <h1><img class="logo" src="{{ page.logo_path }}" /></h1>
        </div>
        <div class="row">
            <p><a class="cta" href="#products">Show me bread</a></p>
        </div>
    </div>
    <a target="_blank" href="{{site.data.social.instagram_url}}"><img src="/assets/icons/instagram.svg" class="instagram"></a>
</section>

<section class="product-panel" id="products">
    <h2>The Goods</h2>
    {% for product in site.products %}
        <div class="product row">
            <div class="product-image">
                <div class="inner">
                    <img src="{{ product.image_path }}">
                </div>
            </div>
            <div class="product-body">
                <h3>{{ product.title }}</h3>
                {{ product.content }}
            </div>
        </div>
    {% endfor %}
</section>

<section class="customer-panel">
    <div class="inner">
        <h2>Our Customers</h2>
        <p>
            Want the bread ready to eat prepared delicious ingredients and love? Visit one of these fine establishments below:
        </p>
        <div class="row">
            {% for customer in site.customers %}
                <a class="customer" href="{{ customer.href }}" target="_blank" style="background-color: {{ customer.background_color }};">
                    <span style="background-image: url({{ customer.image_path }})">{{customer.title}}</span>
                </a>
            {% endfor %}
            {% for num in (1...4) %}
                <div class="customer silent">
                </div>
            {% endfor %}
        </div>
        <p>If you would like to become a customer, use the contact form below.</p>
    </div>
</section>

<section class="contact-panel">
    <div class="inner">
        <h2>Contact Us</h2>
        <p>
            Whether you want bread or a chat, use the form below to send us a message.
            Be sure to follow us on Instagram to receive mouth watering updates.
        </p>
        <form method="post" action="/success/">
            <div class="row">
                <label for="contact-panel-name">Name</label>
                <input type="text" name="name" id="contact-panel-name" required>
            </div>
            <div class="row">
                <label for="contact-panel-email">Email</label>
                <input type="email" name="email" id="contact-panel-email" required>
            </div>
            <div class="row">
                <label for="contact-panel-reason">Reason</label>
                <select name="reason" id="contact-panel-reason" required>
                    <option value="I want bread">I want bread</option>
                    <option value="I want a hug">I want a hug</option>
                </select>
                <label aria-hidden="true" class="dd" for="contact-panel-reason"></label>
            </div>
            <div class="row">
                <label for="contact-panel-message">Message</label>
                <textarea name="message" id="contact-panel-message" required></textarea>
            </div>
            <div class="row row-r">
                <input type="hidden" name="_to" value="contact@example.com">
                <input class="cta" type="submit" value="Submit">
            </div>
        </form>
    </div>
</section>

<section class="backlink">
    <a href="#lead"><p>Back to top</p></a>
</section>