---
---
// start vars
$text: #706A7C;
$fill: #FAFAFA;
$borders: #979797;
$block-padding: 4rem;

$mob: "(max-width: 600px)";


// start extends
%flex {
    width: 100%;
    display: flex;
}
%flex-c {
    @extend %flex;
    align-items: center;
    justify-content: center;
}
%container {
    padding: 0 4rem;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    @media #{$mob} {
        padding: 0 2rem;
    }
}
%padding {
    padding-top: $block-padding;
    padding-bottom: $block-padding;
}
%button {
    text-transform: uppercase;
    padding: 1em 5em;
    background-color: white;
    text-decoration: none;
    color: $text;
    border: solid 1px $text;
    border-radius: 4px;
    font-size: 14px;
}
%image-x-x {
    position: relative;
    &:after {
        content: "";
        display: block;
    }
    .inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    a {
        display: inline-block;
    }
    img {
        max-width: 100%;
        max-height: 100%;
        align-self: center;
    }
}
%image-1-1 {
    &:after {
        padding-bottom: 100%;
    }
    @extend %image-x-x;
}
%image-3-2 {
    &:after {
        padding-bottom: 66%;
    }
    @extend %image-x-x;
}


// start content
* {
    box-sizing: border-box;
}

body, html {
    font-family: 'Lato', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    color: $text;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

h2 {
    font-size: 2.7rem;
    font-weight: 700;
}
h2 {
    font-size: 2rem;
    font-weight: 700;
}
h3 {
    font-size: 1.4rem;
    font-weight: 700;
}

p {
    letter-spacing: 0.04em;
    font-weight: 400;
    line-height: 1.8em;
}

.lead-panel {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    @extend %flex-c;

    .row {
        @extend %flex-c;
    }

    .logo {
        height: 50%;
        max-height: 300px;
        margin-bottom: 4rem;
    }

    .cta {
        @extend %button;
    }

    .instagram {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 40px;
        height: 40px;
    }
}

.product-panel {
    @extend %flex-c;
    @extend %container;
    @extend %padding;
    flex-wrap: wrap;

    .row {
        @extend %flex-c;
    }

    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }

    h2 {
        width: 100%;

        @media #{$mob} {
        }
    }

    .cta {
        margin-top: 1.5em;
        a {
            @extend %button;
            font-size: 12px;
            padding: .5em 2em;
            margin-top: 1.5em;
        }
    }

    .product {
        margin: 2rem 0 0 0;
        flex-wrap: wrap;

        @media #{$mob} {
            justify-content: left;
        }

        &:first-of-type {
            margin: 0;
        }

        &-image {
            @extend %image-1-1;
            width: 50%;
            max-width: 300px;
            min-width: 200px;
        }

        &-body {
            flex: 1;
            padding-left: 4rem;

            @media #{$mob} {
                padding: 0;
                width: 100%;
                flex: none;
            }
        }
    }
}

.customer-panel {
    @extend %padding;
    border-top: solid 1px $borders;
    border-bottom: solid 1px $borders;
    background-color: $fill;

    > .inner {
        @extend %container;

        > :first-child {
            margin-top: 0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }

    h2, p {
        width: 100%;
    }

    .row {
        @extend %flex-c;
        margin: 0 -1rem;
        width: auto;
        flex-wrap: wrap;
    }


    .customer {
        flex: 1 1 250px;
        margin: 1rem;
        padding: 2rem 6rem;
        align-self: stretch;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 1px $borders;

        &.silent {
            margin: 0 1rem;
            padding: 0;
            border: none;
        }

        span {    
            width: 100%;
            height: 150px;
            max-width: 180px;
            text-indent: -999999px;
            background-size: 90% auto;
            background-repeat: no-repeat;
            background-position: center;
        }

        img {
            height: 150px;
        }
    }
}

.contact-panel {
    @extend %padding;
    border-bottom: solid 1px $borders;
    color: white;
    background-color: #060807;

    .inner {
        @extend %container;
        > :first-child {
            margin-top: 0;
        }
        > :last-child {
            margin-bottom: 0;
        }
    }

    form {
        max-width: 700px;
        margin: 0 auto;
    }
    .row {
        @extend %flex;

        input, select, textarea {
            flex: 3;
            margin: 1rem 0;
            padding: 6px 16px;
            height: 35px;
            font-size: 16px;
            border: solid 1px $borders;
            border-radius: 4px;
            -webkit-appearance: none;
        }
        .dd {
            display: block;
            flex: none;
            align-self: center;
            margin: 0;
            margin-right: -12px;
            width: 12px;
            height: 12px;
            opacity: 0.3;
            background-image: url("/assets/icons/caret.svg");
            background-size: 12px;
            transform: translateX(-30px) rotateZ(180deg);
        }
        textarea {
            height: 100px;
        }
        label {
            flex: 1;
            line-height: 35px;
            text-align: right;
            margin: 1rem 2rem 1rem 0;
        }
        .cta {
            @extend %button;
            flex: 0 1 5em;
            padding: 0 4rem;
        }

        &-r {
            justify-content: flex-end;
        }
    }
}

.backlink {
    a {
        text-decoration: none;
        color: $text;
    }
    p {
        line-height: 50px;
        height: 50px;
        width: 100%;
        text-align: center;
        margin: 0;
    }
}

.editor-link {
    display: none;
}

.cms-editor-active .editor-link {
    display: inline-block;
    @extend %button;
    vertical-align: text-bottom;
    padding: .3em 2em .6em 1em;
    font-size: 10px;
    font-weight: 100;
    color: #407afc;
    border-color: #407afc;
    
    &:before {
        content:"";
        display: inline-block;
        height: 18px;
        width: 18px;
        margin-right: 7px;
        position: relative;
        top: 2px;
        background-image: url('/assets/icons/cc.png');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: sub;
    }
}